/* GLOBAL APP CSS */

* {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family            : 'Josefin Sans', sans-serif;
}

body {
  margin          : 0 auto;
  color           : #333;
  background-color: #fff;
  font-size       : 16px;
  
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 16px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.9)
  }

  to {
    transform: scale(1)
  }
}

@keyframes animate-in {
  from {
    opacity  : 0;
    transform: translateY(50px)
  }

  to {
    opacity  : 1;
    transform: translateY(0)
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-50px)
  }

  to {
    transform: translateY(0)
  }
}


/* HOME */

#home {
  position : fixed;
  width    : 100%;
  height   : 100%;
  animation: fade-in 2s forwards;
}

#home .bg-vid {
  position  : absolute;
  left      : 50%;
  top       : 50%;
  transform : translate(-50%, -50%);
  z-index   : 1;
  min-height: 101vh;
  min-width : 101vw;
}

#home .content {
  position       : absolute;
  left           : calc(50% - 440px);
  width          : 880px;
  top            : 0;
  z-index        : 10;
  display        : flex;
  flex-flow      : column;
  justify-content: space-between;
  height         : 100%;
  padding        : 40px;
  box-sizing     : border-box;
  color          : #fff;
}

#home .content img {
  height : 94px;
  margin : 0 auto;
  display: block;
}

#home .content .blurb {
  text-align: center;
}

#home .content .title h1 {
  font-size     : 5em;
  font-weight   : 500;
  line-height   : 0.6em;
  padding-bottom: 22px;
  letter-spacing: 8px;
  margin        : 0;
  user-select   : none;
}

#home .content .subtext h2 {
  font-weight: 300;
  font-size  : 1.3em;
  user-select: none;
}

#home .content .launch {
  margin         : 40px auto;
  background     : transparent;
  border         : 2px solid white;
  padding        : 10px 20px;
  color          : white;
  text-decoration: none;
  display        : inline-block;
  user-select    : none;
}

#home .video-cover {
  z-index : 10;
  position: absolute;
  width   : 100%;
  height  : 100%;
}



/* SOCIAL */

#home #social svg {
  fill: #ffffff;
}

#social {
  display        : flex;
  flex-flow      : row;
  margin         : 0 auto;
  width          : 63px;
  justify-content: space-between;
}

#social a {
  display: block;
  width  : 28px;
  height : 28px;
}

#social svg {
  background-color: transparent;
  width           : 100%;
  height          : 100%;
  border-radius   : 50%;
  transition      : fill 500ms;
}

@media screen and (max-width: 880px) {
  #home .content {
    width: 100%;
    left : 0;
  }
}

@media screen and (max-width: 600px) {
  #home .content {
    padding: 40px 20px;
  }
}



/* ABOUT */

#about {
  width     : 700px;
  margin    : 0 auto;
  box-sizing: border-box;
}

#about .portrait {
  width        : 100%;
  margin-bottom: 80px;
}

#about .blurb {
  line-height   : 1.8em;
  letter-spacing: .02em;
}

@media screen and (max-width: 700px) {
  #about .about {
    width: 100%;
  }

  #about .portrait {
    margin-bottom: 20px;
  }
}



/* LAYOUT */

#layout .container, #layout .header-container {
  width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0px 20px;
}

#layout .container {
  position: relative;
  padding: 245px 20px 0 20px;
}

#layout {
  animation: fade-in 3s forwards;
}

#layout .header {
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
  height: 125px;
  margin: 0px auto;
  padding: 60px 0;
}

#layout .header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

#layout .logo {
  height: 100%;
  width: auto;
  z-index: 100;
}

#layout .logo:hover {
  cursor: pointer;
}

#layout .logo-placeholder {
  height: 100%;
  width: 25%
}

#layout .tabs {
  line-height: 125px;
}

#layout .tabs a, #layout .mobile-tabs a {
  margin: 0 10px;
  text-decoration: none;
  letter-spacing: 2px;
}

#layout .footer {
  margin: 140px auto 60px auto;
}

#layout .mobile-tabs {
  position: absolute;
  display: none;
  right: 0px;
  top: 10px;
  width: 100%;
}

#layout .mobile-tabs .links {
  position: absolute;
  right: 33px;
  top: -200px;
  transition: top 500ms;
  opacity: 0;
  display: flex;
  flex-flow: column;
  text-align: right;
  align-content: space-between;
  z-index: 10;
}

#layout.sticky .mobile-tabs .links {
  width: calc(100% - 110px);
  right: 45px;
  top: -50px;
  justify-content: flex-end;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: border-box;
  transition: top 500ms, opacity 500ms;
}

#layout.sticky .mobile-tabs.open .links {
  top: -5px;
  transition: top 1s, opacity 500ms;
}

#layout.sticky .mobile-tabs .open-btn {
  top: 0;
  right: 14px;
}

#layout.sticky .mobile-tabs .links a {
  margin: 0 10px;
}

#layout .mobile-tabs .links a {
  margin: 5px;
}

#layout .mobile-tabs.open .links {
  top: 0px;
  opacity: 1;
  transition: top 1s, opacity 500ms 500ms;
}

#layout .mobile-tabs .open-btn {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
}

#layout .mobile-tabs .open-btn .bar {
  width: 23px;
  height: 2px;
  margin: 6px;
  background: #78b2de;
  transition: transform 1000ms;
}

#layout .mobile-tabs.open .open-btn .bar:nth-child(1) {
  transform: rotate(90deg) translate(5px,11px);
}

#layout .mobile-tabs.open .open-btn .bar:nth-child(2) {
  transform: rotate(-45deg) translate(-1px,-2px);
}

#layout .mobile-tabs.open .open-btn .bar:nth-child(3) {
  transform: rotate(-180deg);
}

#layout .theme-toggle {
  text-align: center;
  margin: 80px 0;
}
#layout .theme-toggle span:hover {
  cursor: pointer;
}

#layout.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  height: 50px;
  margin: 0 auto;
  transform: translateY(-50px);
  animation: slide-down 1s forwards;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.3);
}

#layout.sticky .tabs {
  line-height: 50px;
}

.waiting-to-animate {
  opacity: 0 !important;
}

.animate-in {
  animation: animate-in 1s forwards !important;
}

@media screen and (max-width: 1440px) {
  #layout .container, #layout .header-container {
      width: 100%;
  }
  #layout .header-container {
      padding: 0;
  }
}

@media screen and (max-width: 600px) {
  #layout .tabs {
      display: none;
  }

  #layout .mobile-tabs {
      display: block;
  }

  #layout .logo {
      margin-top: 10px;
  }

  #layout.sticky .logo {
      margin-top: 0;
  }

  #layout .header {
      padding: 0 0 30px 0;
  }

  #layout .container {
      padding-top: 155px;
  }

  #layout .header-container {
      padding: 0;
  }

  #layout .project-list {
      margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 355px) {
  #layout.sticky .mobile-tabs .links {
      width: calc(100% - 50px)
  }
  #layout.sticky .logo {
      display: none;
  }
}




/* IMAGE GALLERY */
.image-gallery, .image-gallery .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-gallery .column {
  box-sizing: border-box;
}

.image-gallery .row .row-child {
  width: calc(50% - 15px);
  align-self: flex-end;
}

.image-gallery .row .row-child.wide {
  width: 100%;
}

.image-gallery img {
  margin: 15px 0;
  vertical-align: middle;
  width: 100%;
  transition: transform 1000ms;
}

.image-gallery img.clickable:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .image-gallery .row .children {
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .image-gallery .column {
      flex: 100%;
      max-width: 100%;
      padding: 0;
  }
  .image-gallery img {
      margin: 10px 0;
  }
  .image-gallery .row .row-child {
      width: 100%;
  }
}



/* PROFESSIONAL */
#professional {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#professional .title-img {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  align-self: flex-start;
  transition: transform 1s;
}

#professional .title-img:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media screen and (max-width: 1440px) {
  #professional .title-img {
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  #professional .title-img {
      width: calc(100%);
  }
}


/* PROFESSIONAL PROJECT */

.professional-project .project-gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.professional-project .project-gallery:nth-child(1) {
  padding-top: 0;
}

.professional-project .title-row {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.professional-project .title-box {
  position: relative;
}

.professional-project .subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
  font-size: 0.9em;
}

.professional-project .subtitle p {
  margin: 0px;
  line-height: 1.3em;
}

.professional-project .title-image {
  width: 100%;
  height: auto;
}

.professional-project .main-container {
  width: 100%;
}

.professional-project .image-container {
  width: calc(50% - 20px);
  margin-bottom: 40px;
}

.professional-project .title-row .image-container {
  width: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.professional-project .image-container .gallery-photo {
  width: 100%;
  height: auto;
}

.professional-project .image-container.wide {
  width: 100%;
}

.professional-project .title-row .image-container .gallery-photo {
  width: auto;
  height: 100%;
}

.professional-project .description {
  line-height: 1.3em;
}

.professional-project .credit {
  font-size: 0.8em;
}

.professional-project .mobile-main-img {
  display: none;
}

.professional-project #project-list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.professional-project #project-list a {
  text-decoration: none;
  padding: 0 5px;
}

.professional-project #project-list p {
  margin: 5px 0;
}

@media screen and (max-width: 1440px) {
  .professional-project .image-container {
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .professional-project .project-gallery {
      padding-top: 25px;
  }
  .professional-project .title-row {
      flex-flow: column;
      margin: 0;
  }
  .professional-project .main-container {
      width: 100%;
      margin: auto;
  }
  .professional-project .title-row .image-container {
      width: 80%;
      margin-top: 20px;
  }
  .professional-project .title-row .image-container .gallery-photo {
      width: 80%;
      height: auto;
  }
}

@media screen and (max-width: 600px) {
  .professional-project .main-container {
      width: 100%;
  }
  .professional-project .image-container, .title-row .image-container {
      width: 100%;
      margin: 10px 0;
  }
  .professional-project .title-image {
      width: 100%;
  }
  .professional-project .mobile-main-img {
      display: block;
      width: 100%;
      height: auto;
  }
}


/* ACADEMIC INDEX */

#academic {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#academic .card {
  width: calc(50% - 10px);
  height: 35vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

#academic .card-title {
  overflow: hidden;
  white-space: nowrap;
}

#academic .card-title h2 {
  margin: 0;
  white-space: nowrap;
}

#academic .cover {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 35vh;
  font-size: 0.8em;
}

#academic .cover:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  #academic .card {
      width: 100%;
  }
}



/* ACADEMIC ITEM */
.academic-item .vimeo-embed {
  width: 100%;
  height: calc(100vh - 245px);
  margin-bottom: 40px;
}